<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>test</title>
  <meta name="description" content="Rolling Stone magazine's 2012 list of 500 greatest albums of all time with genres.">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
</head>

<body>
  {% block bar %}
  <div class="container">
<header class="d-flex justify-content-center py-3">
<ul class="nav nav-pills">
  
    
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link" aria-current="page">Главная</a></li>
  <li class="nav-item"><a href="{% url 'creat' %}" class="nav-link" aria-current="page">Заполнение анкеты</a>
    <li class="nav-item"><a href="{% url 'mine' %}" class="nav-link  active" aria-current="page">Таблица</a>
      <li class="nav-item"><a href="{% url 'result' %}" class="nav-link" aria-current="page">Аналитика</a>
        <li class="nav-item"><a href="{% url 'export'%}" class="nav-link" aria-current="page">Экспорт</a>
</ul>
</header>
</div>
{% endblock %}
  
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <table id="student" class="display" style="width: 200%; ">
          <thead>
              <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Группа</th>
                <th>Место работы</th>
                <th>Чем Вы сейчас занимаетесь</th>
                <th>Дополнительная информация</th>
                <th>Программы</th>
                <th>Языки программирования</th>
                <th>Тема1</th>
                <th>Направление</th>
                <th>Тема2</th>
                <th>Направление</th>
                <th>Тема3</th>
                <th>Направление</th>
                <th>Тема4</th>
                <th>Направление</th>
        
              </tr>
          </thead>
          <tbody>
            {% for i in st %}
            <tr>
              <td>{{i.name}}</td>
              <td>{{i.surname}}</td>
              <td>{{i.group}}</td>
              <td>{{i.work}}</td>
              <td>{{i.employment__name}}</td>
              <td>{{i.info}}</td>
              <td>{{i.expirience__name}}</td>
              <td>{{i.language__name}}</td>
              <td>{{i.theme1__name}}</td>
              <td>{{i.theme1__direction__name}}</td>
              <td>{{i.theme2__name}}</td>
              <td>{{i.theme2__direction__name}}</td>
              <td>{{i.theme3__name}}</td>
              <td>{{i.theme3__direction__name}}</td>
              <td>{{i.theme4__name}}</td>
              <td>{{i.theme4__direction__name}}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
              <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Группа</th>
                <th>Место работы</th>
                <th>Чем Вы сейчас занимаетесь</th>
                <th>Дополнительная информация</th>
                <th>Программы</th>
                <th>Языки программирования</th>
                <th>Тема1</th>
                <th>Направление</th>
                <th>Тема2</th>
                <th>Направление</th>
                <th>Тема3</th>
                <th>Направление</th>
                <th>Тема4</th>
                <th>Направление</th>
        
              </tr>
          </tfoot>
      </table>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script>
    $(document).ready(function() {
        $('#student').DataTable();
    });
</script>



</body>
</html>
